server {
        listen 5050;
        listen [::]:5050;
        root /wordpress/;
        index index.html index.htm  index.php;
        server_name _;
        location / {
		try_files $uri $uri/ =404;
	}

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/run/php/php7.3-fpm.sock;
        }
}